fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pymysql
alembic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt>=4.0.0
python-multipart
email-validator
mlflow
scikit-learn
xgboost
lightgbm
numpy
pandas
openpyxl
xlrd
python-dotenv
httpx
pytest
pytest-cov
slowapi==0.1.9
