fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
python-multipart
email-validator
mlflow
scikit-learn
xgboost
lightgbm
numpy
pandas
python-dotenv
httpx
pytest
